<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
	<title>{:config('apiAdmin.APP_NAME')} - 在线接口文档</title>
	<!--图标样式-->
	<link rel="stylesheet" href="http://{$_SERVER['HTTP_HOST']}/static/css/all.min.css">
	<link rel="stylesheet" href="http://{$_SERVER['HTTP_HOST']}/static/css/style.css">



</head>

<body oncontextmenu=self.event.returnValue=false>
	<!-- oncontextmenu=self.event.returnValue=false-->

	<h2>欢迎使用{:config('apiAdmin.APP_NAME')}在线文档</h2>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="" method="POST">
				<h1>注册</h1>
				<input type="text" placeholder="appname" name="regappname">
				<input type="text" placeholder="appId" name="regappId">
				<input type="password" placeholder="appSecret" name="regappSecret">
				<button class="ui fluid large teal submit button" id="reg">注册</button>
				<span id="res"></span>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="{:url('/wiki/doLogin')}" method="post">
				<h1>登录</h1>
				<input type="text" name="appId" placeholder="appId">
				<input type="password" name="appSecret" placeholder="appSecret">
				<a href="http://wpa.qq.com/msgrd?v=3&uin=308542040&site=qq&menu=yes" target="_Blank" >忘记密码？</a>
				<button class="ui fluid large teal submit button">登录</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>欢迎回来！</h1>
					<p>请您先登录的个人信息，进行操作。</p>
					<br />
					<br />
					<br />
					<br />
					<br />
					<button class="ghost" id="signIn">登录</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>你好朋友！</h1>
					<p>输入您的个人信息注册成为会员。</p>
					<br />
					<br />
					<br />
					<br />
					<br />
					<button class="ghost" id="signUp">注册</button>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>
			版权声明
		</p>
	</footer>



	<script>
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});
	</script>

	<script>
		function click() {
			if (event.button == 2) {
				alert('本网站欢迎您 !!');
			}
		}
		document.onmousedown = click

		

	</script>

	

	<script>
		$("#reg").unbind("click").bind("click", function () {
			var appName = $("input[name=regappname]").val();
			var appId = $("input[name=regappId]").val();
			var appSecret = $("input[name=regappSecret]").val();

			if (appName == "" || appName == null) {
				alert("appname不能为空！");
				return false;
			} else if (appId == "" || appId == null) {
				alert("appId不能为空！");
				return false;
			} else if (appSecret == "" || appSecret == null) {
				alert("appSecret不能为空！");
				return false;
			} else {
				$.ajax({  // ajax登陆请求
					url: "http://api.ownsix.com/api/5ce1184031398",
					type: "GET",
					data: { "app_id": appId, "app_secret": appSecret, "app_name": appName },
					async: false,
					success: function (res) {
						alert("注册成功");


					}
				});
			}
		});

	</script>

<script>
	var h = window.innerHeight, w = window.innerWidth;
		//禁用右键 （防止右键查看源代码）  
		window.oncontextmenu = function () { return false; }
		//在本网页的任何键盘敲击事件都是无效操作 （防止F12和shift+ctrl+i调起开发者工具）  
		
		//如果用户在工具栏调起开发者工具，那么判断浏览器的可视高度和可视宽度是否有改变，如有改变则关闭本页面  
		window.onresize = function () {
			if (h != window.innerHeight || w != window.innerWidth) {
				window.close();
				window.location = "about:blank";
			}
		}
		

	</script>


</body>

</html>